#outer-3d {
    position: relative;
    perspective: 300px;
    perspective-origin: center;
}

#inner-3d {
    position: absolute;
    transform: rotateX(10deg);
    transform-style: preserve-3d;
    height: 100vh;
    width: 100vw;
}