  /* Default values */
  .counter-parent-y {
    --counter-y-bit-1: 0;
    --counter-y-bit-2: 0;
    --counter-y-bit-4: 0;
    --counter-y-bit-8: 0;
    --counter-y-bit-16: 0;
    --counter-y-bit-32: 0;
  }

  .counter-parent-y>.counter {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: var(--maze-cell-size);
    width: var(--maze-cell-size);
    cursor: pointer;
    z-index: 10;
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
  }

  .counter-parent-y>.counter,
  .counter-parent-y>.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter {
    display: var(--display-block-if-south);
  }

  .counter-parent-y>.counter:checked,
  .counter-parent-y>.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked {
    display: var(--display-block-if-north)
  }

  .counter-parent-y>.counter:nth-last-of-type(6):checked~.counter-result {
    --counter-y-bit-32: 32;
  }

  .counter-parent-y>.counter:nth-last-of-type(5):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(5):not(:checked)~.counter-result {
    --counter-y-bit-16: 16;
  }

  .counter-parent-y>.counter:nth-last-of-type(5):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(5):checked~.counter-result {
    --counter-y-bit-16: 0;
  }

  .counter-parent-y>.counter:nth-last-of-type(4):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(4):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(4):checked~.counter-result {
    --counter-y-bit-8: 8;
  }

  .counter-parent-y>.counter:nth-last-of-type(4):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(4):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(4):not(:checked)~.counter-result {
    --counter-y-bit-8: 0;
  }

  .counter-parent-y>.counter:nth-last-of-type(3):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(3):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(3):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(3):not(:checked)~.counter-result {
    --counter-y-bit-4: 4;
  }

  .counter-parent-y>.counter:nth-last-of-type(3):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(3):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(3):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(3):checked~.counter-result {
    --counter-y-bit-4: 0;
  }

  .counter-parent-y>.counter:nth-last-of-type(2):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(2):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(2):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(2):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(2):checked~.counter-result {
    --counter-y-bit-2: 2;
  }

  .counter-parent-y>.counter:nth-last-of-type(2):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(2):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(2):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(2):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(2):not(:checked)~.counter-result {
    --counter-y-bit-2: 0;
  }

  .counter-parent-y>.counter:nth-last-of-type(1):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(1):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(1):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):not(:checked)~.counter-result {
    --counter-y-bit-1: 1;
  }

  .counter-parent-y>.counter:nth-last-of-type(1):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:nth-last-of-type(1):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:nth-last-of-type(1):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):checked~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):not(:checked)~.counter-result,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:nth-last-of-type(1):checked~.counter-result {
    --counter-y-bit-1: 0;
  }

  .counter-parent-y>.counter-result {
    --offset-y: calc(var(--counter-y-bit-1) + var(--counter-y-bit-2) + var(--counter-y-bit-4) + var(--counter-y-bit-8) + var(--counter-y-bit-16) + var(--counter-y-bit-32));
  }