  /* Default values */
  .counter-y-parent {
    --counter-y-translate-x-step: 0;
    --counter-y-translate-y-step: calc(-1 * var(--maze-cell-size));

    --counter-y-button-size: var(--maze-cell-size);

    --increment-y-button-x: 0;
    --increment-y-button-y: calc(var(--counter-y-button-size));

    --decrement-y-button-x: 0;
    --decrement-y-button-y: calc(-1*var(--counter-y-button-size));

    --offset-y-1: 0;
    --offset-y-2: 0;
    --offset-y-4: 0;
    --offset-y-8: 0;
    --offset-y-16: 0;
    --offset-y-32: 0;
  }

  .counter-y-parent>.counter-y {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: var(--counter-y-button-size);
    width: var(--counter-y-button-size);
    cursor: pointer;
    z-index: 10;
  }

  .counter-y-parent>.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y {
    left: var(--increment-y-button-x);
    top: var(--increment-y-button-y);
  }

  .counter-y-parent>.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked {
    left: var(--decrement-y-button-x);
    top: var(--decrement-y-button-y);
  }

  .increment-button,
  .decrement-button {
    height: var(--counter-y-button-size);
    width: var(--counter-y-button-size);
    box-sizing: border-box;
    z-index: 20;
  }

  .increment-button {
    left: var(--increment-y-button-x);
    top: var(--increment-y-button-y);
  }

  .decrement-button {
    left: var(--decrement-y-button-x);
    top: var(--decrement-y-button-y);
  }

  .counter-y-parent>.counter-y:nth-last-of-type(6):checked~.offset-y>.offset-y>.offset-y>.offset-y>.offset-y>.offset-y {
    --offset-y-32: 32;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(5):checked~.offset-y>.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(5):not(:checked)~.offset-y>.offset-y>.offset-y>.offset-y>.offset-y {
    --offset-y-16: 16;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(5):not(:checked)~.offset-y>.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(5):checked~.offset-y>.offset-y>.offset-y>.offset-y>.offset-y {
    --offset-y-16: 0;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(4):checked~.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(4):not(:checked)~.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(4):checked~.offset-y>.offset-y>.offset-y>.offset-y {
    --offset-y-8: 8;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(4):not(:checked)~.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(4):checked~.offset-y>.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(4):not(:checked)~.offset-y>.offset-y>.offset-y>.offset-y {
    --offset-y-8: 0;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(3):checked~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(3):not(:checked)~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(3):checked~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(3):not(:checked)~.offset-y>.offset-y>.offset-y {
    --offset-y-4: 4;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(3):not(:checked)~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(3):checked~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(3):not(:checked)~.offset-y>.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(3):checked~.offset-y>.offset-y>.offset-y {
    --offset-y-4: 0;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(2):checked~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(2):not(:checked)~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):checked~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):not(:checked)~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):checked~.offset-y>.offset-y {
    --offset-y-2: 2;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(2):not(:checked)~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(2):checked~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):not(:checked)~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):checked~.offset-y>.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(2):not(:checked)~.offset-y>.offset-y {
    --offset-y-2: 0;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(1):checked~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(1):not(:checked)~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):checked~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):not(:checked)~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):checked~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):not(:checked)~.offset-y {
    --offset-y-1: 1;
  }

  .counter-y-parent>.counter-y:nth-last-of-type(1):not(:checked)~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:nth-last-of-type(1):checked~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):not(:checked)~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):checked~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):not(:checked)~.offset-y,
  .counter-y-parent>.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:checked~.counter-y:nth-last-of-type(1):checked~.offset-y {
    --offset-y-1: 0;
  }

  .offset-y-sum {
    --offset-y: calc(var(--offset-y-1) + var(--offset-y-2) + var(--offset-y-4) + var(--offset-y-8) + var(--offset-y-16) + var(--offset-y-32));
  }