  /* Default values */
  .counter-parent-y {
    --counter-y-raw-bit-1: 0;
    --counter-y-raw-bit-2: 0;
    --counter-y-raw-bit-3: 0;
    --counter-y-raw-bit-4: 0;
  }

  .counter-parent-y>.counter {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: var(--maze-cell-size);
    width: var(--maze-cell-size);
    cursor: pointer;
    z-index: 10;
    left: var(--button-forward-x);
    top: var(--button-forward-y);
  }

  .counter-parent-y>.counter,
  .counter-parent-y>.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter {
    display: var(--display-block-if-south);
  }

  .counter-parent-y>.counter:checked,
  .counter-parent-y>.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter,
  .counter-parent-y>.counter:checked~.counter:checked~.counter:checked~.counter:checked~.counter:checked {
    display: var(--display-block-if-north)
  }

  .counter-parent-y>.counter:nth-last-of-type(4):checked~.counter-result {
    --counter-y-raw-bit-4: 1;
  }

  .counter-parent-y>.counter:nth-last-of-type(3):checked~.counter-result {
    --counter-y-raw-bit-3: 1;
  }

  .counter-parent-y>.counter:nth-last-of-type(2):checked~.counter-result {
    --counter-y-raw-bit-2: 1;
  }

  .counter-parent-y>.counter:nth-last-of-type(1):checked~.counter-result {
    --counter-y-raw-bit-1: 1;
  }

  .counter-parent-y>.counter-result {
    --counter-y-bit-4: var(--counter-y-raw-bit-4);
    --counter-y-bit-3: calc((var(--counter-y-raw-bit-3) - var(--counter-y-bit-4)) * (var(--counter-y-raw-bit-3) - var(--counter-y-bit-4)));
    --counter-y-bit-2: calc((var(--counter-y-raw-bit-2) - var(--counter-y-bit-3)) * (var(--counter-y-raw-bit-2) - var(--counter-y-bit-3)));
    --counter-y-bit-1: calc((var(--counter-y-raw-bit-1) - var(--counter-y-bit-2)) * (var(--counter-y-raw-bit-1) - var(--counter-y-bit-2)));

    --offset-y: calc(var(--counter-y-bit-1) + 2 * var(--counter-y-bit-2) + 4 * var(--counter-y-bit-3) + 8 * var(--counter-y-bit-4));
  }

  /**
 * DEBUG
 */

  .debug-y::before {
    counter-set: debug var(--offset-y);
    content: "y: " counter(debug, decimal)
  }

  .debug-y-raw-bits::before {
    counter-set: debug-1 var(--counter-y-raw-bit-1, 999) debug-2 var(--counter-y-raw-bit-2, 999) debug-3 var(--counter-y-raw-bit-3, 999) debug-4 var(--counter-y-raw-bit-4, 999);

    content: "raw bits: "
      counter(debug-4, decimal) ", "
      counter(debug-3, decimal) ", "
      counter(debug-2, decimal) ", "
      counter(debug-1, decimal);
  }

  .debug-y-bits::before {
    counter-set: debug-1 var(--counter-y-bit-1, 999) debug-2 var(--counter-y-bit-2, 999) debug-3 var(--counter-y-bit-3, 999) debug-4 var(--counter-y-bit-4, 999);

    content: "bits: "
      counter(debug-4, decimal) ", "
      counter(debug-3, decimal) ", "
      counter(debug-2, decimal) ", "
      counter(debug-1, decimal);
  }