  /* Default values */
  .counter {
    --translate-x-step: 0;
    --translate-y-step: 0;

    --button-size: 50px;

    --increment-button-x: 50px;
    --increment-button-y: 0;

    --decrement-button-x: 0;
    --decrement-button-y: 0;
  }

  .counter>input {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    height: var(--button-size);
    width: var(--button-size);
    cursor: pointer;
    z-index: 10;
  }

  .counter>input,
  .counter>input:checked~input:checked,
  .counter>input:checked~input:checked~input,
  .counter>input:checked~input:checked~input:checked~input:checked,
  .counter>input:checked~input:checked~input:checked~input:checked~input,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input:checked,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input {
    left: var(--increment-button-x);
    top: var(--increment-button-y);
  }

  .counter>input:checked,
  .counter>input:checked~input,
  .counter>input:checked~input:checked~input:checked,
  .counter>input:checked~input:checked~input:checked~input,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked {
    left: var(--decrement-button-x);
    top: var(--decrement-button-y);
  }

  .counter>.increment-button,
  .counter>.decrement-button {
    height: var(--button-size);
    width: var(--button-size);
    box-sizing: border-box;
    z-index: 20;
  }

  .counter>.increment-button {
    left: var(--increment-button-x);
    top: var(--increment-button-y);
  }

  .counter>.decrement-button {
    left: var(--decrement-button-x);
    top: var(--decrement-button-y);
  }

  .counter>.offset,
  .counter>.offset>.offset,
  .counter>.offset>.offset>.offset,
  .counter>.offset>.offset>.offset>.offset,
  .counter>.offset>.offset>.offset>.offset>.offset,
  .counter>.offset>.offset>.offset>.offset>.offset>.offset {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
  }

  .counter>input:nth-last-of-type(6):checked~.offset>.offset>.offset>.offset>.offset>.offset {
    left: calc(32 * var(--translate-x-step));
    top: calc(32 * var(--translate-y-step));
  }

  .counter>input:nth-last-of-type(5):checked~.offset>.offset>.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(5):not(:checked)~.offset>.offset>.offset>.offset>.offset {
    left: calc(16 * var(--translate-x-step));
    top: calc(16 * var(--translate-y-step));
  }

  .counter>input:nth-last-of-type(5):not(:checked)~.offset>.offset>.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(5):checked~.offset>.offset>.offset>.offset>.offset {
    left: 0;
    top: 0;
  }

  .counter>input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset {
    left: calc(8 * var(--translate-x-step));
    top: calc(8 * var(--translate-y-step));
  }

  .counter>input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset {
    left: 0;
    top: 0;
  }

  .counter>input:nth-last-of-type(3):checked~.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset {
    left: calc(4 * var(--translate-x-step));
    top: calc(4 * var(--translate-y-step));
  }

  .counter>input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset {
    left: 0;
    top: 0;
  }

  .counter>input:nth-last-of-type(2):checked~.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset {
    left: calc(2 * var(--translate-x-step));
    top: calc(2 * var(--translate-y-step));
  }

  .counter>input:nth-last-of-type(2):not(:checked)~.offset>.offset,
  .counter>input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset {
    left: 0;
    top: 0;
  }

  .counter>input:nth-last-of-type(1):checked~.offset,
  .counter>input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset {
    left: var(--translate-x-step);
    top: var(--translate-y-step);
  }

  .counter>input:nth-last-of-type(1):not(:checked)~.offset,
  .counter>input:checked~input:nth-last-of-type(1):checked~.offset,
  .counter>input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
  .counter>input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
  .counter>input:checked~input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset {
    left: 0;
    top: 0;
  }