.counter input {
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
}

.counter input,
.counter input:checked~input:checked,
.counter input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input {
  left: 50px;
}

.counter input:checked,
.counter input:checked~input,
.counter input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked {
  left: 0;
}

.counter .offset {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}

.counter>.offset {
  margin-top: 20px;
}

.counter input:nth-last-of-type(6):checked~.offset>.offset>.offset>.offset>.offset>.offset {
  left: calc(32 * var(--x-offset, 0));
  top: calc(32 * var(--y-offset, 0));
}

.counter input:nth-last-of-type(5):checked~.offset>.offset>.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(5):not(:checked)~.offset>.offset>.offset>.offset>.offset {
  left: calc(16 * var(--x-offset, 0));
  top: calc(16 * var(--y-offset, 0));
}

.counter input:nth-last-of-type(5):not(:checked)~.offset>.offset>.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(5):checked~.offset>.offset>.offset>.offset>.offset {
  left: 0;
  top: 0;
}

.counter input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset {
  left: calc(8 * var(--x-offset, 0));
  top: calc(8 * var(--y-offset, 0));
}

.counter input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(4):checked~.offset>.offset>.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(4):not(:checked)~.offset>.offset>.offset>.offset {
  left: 0;
  top: 0;
}

.counter input:nth-last-of-type(3):checked~.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset {
  left: calc(4 * var(--x-offset, 0));
  top: calc(4 * var(--y-offset, 0));
}

.counter input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
.counter input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(3):not(:checked)~.offset>.offset>.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(3):checked~.offset>.offset>.offset {
  left: 0;
  top: 0;
}

.counter input:nth-last-of-type(2):checked~.offset>.offset,
.counter input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset {
  left: calc(2 * var(--x-offset, 0));
  top: calc(2 * var(--y-offset, 0));
}

.counter input:nth-last-of-type(2):not(:checked)~.offset>.offset,
.counter input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
.counter input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(2):checked~.offset>.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(2):not(:checked)~.offset>.offset {
  left: 0;
  top: 0;
}

.counter input:nth-last-of-type(1):checked~.offset,
.counter input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
.counter input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset {
  left: var(--x-offset, 0);
  top: var(--y-offset, 0);
}

.counter input:nth-last-of-type(1):not(:checked)~.offset,
.counter input:checked~input:nth-last-of-type(1):checked~.offset,
.counter input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
.counter input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):not(:checked)~.offset,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:nth-last-of-type(1):checked~.offset {
  left: 0;
  top: 0;
}