  /* Default values */
  .counter-x-parent {
    --offset-x-1: 0;
    --offset-x-2: 0;
    --offset-x-4: 0;
    --offset-x-8: 0;
    --offset-x-16: 0;
    --offset-x-32: 0;
  }

  .counter-x-parent>.counter-x {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: var(--maze-cell-size);
    width: var(--maze-cell-size);
    cursor: pointer;
    z-index: 10;
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
  }

  .counter-x-parent>.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x {
    display: var(--display-block-if-east);
  }

  .counter-x-parent>.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked {
    display: var(--display-block-if-west)
  }

  .counter-x-parent>.counter-x:nth-last-of-type(6):checked~.offset-x>.offset-x>.offset-x>.offset-x>.offset-x>.offset-x {
    --offset-x-32: 32;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(5):checked~.offset-x>.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(5):not(:checked)~.offset-x>.offset-x>.offset-x>.offset-x>.offset-x {
    --offset-x-16: 16;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(5):not(:checked)~.offset-x>.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(5):checked~.offset-x>.offset-x>.offset-x>.offset-x>.offset-x {
    --offset-x-16: 0;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(4):checked~.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(4):not(:checked)~.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(4):checked~.offset-x>.offset-x>.offset-x>.offset-x {
    --offset-x-8: 8;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(4):not(:checked)~.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(4):checked~.offset-x>.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(4):not(:checked)~.offset-x>.offset-x>.offset-x>.offset-x {
    --offset-x-8: 0;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(3):checked~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(3):not(:checked)~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(3):checked~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(3):not(:checked)~.offset-x>.offset-x>.offset-x {
    --offset-x-4: 4;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(3):not(:checked)~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(3):checked~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(3):not(:checked)~.offset-x>.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(3):checked~.offset-x>.offset-x>.offset-x {
    --offset-x-4: 0;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(2):checked~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(2):not(:checked)~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):checked~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):not(:checked)~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):checked~.offset-x>.offset-x {
    --offset-x-2: 2;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(2):not(:checked)~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(2):checked~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):not(:checked)~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):checked~.offset-x>.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(2):not(:checked)~.offset-x>.offset-x {
    --offset-x-2: 0;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(1):checked~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(1):not(:checked)~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):checked~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):not(:checked)~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):checked~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):not(:checked)~.offset-x {
    --offset-x-1: 1;
  }

  .counter-x-parent>.counter-x:nth-last-of-type(1):not(:checked)~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:nth-last-of-type(1):checked~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):not(:checked)~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):checked~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):not(:checked)~.offset-x,
  .counter-x-parent>.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:checked~.counter-x:nth-last-of-type(1):checked~.offset-x {
    --offset-x-1: 0;
  }

  .offset-x-sum {
    --offset-x: calc(var(--offset-x-1) + var(--offset-x-2) + var(--offset-x-4) + var(--offset-x-8) + var(--offset-x-16) + var(--offset-x-32));
  }