@counter-style fisheye {
    system: cyclic;
    symbols: ◉;
    suffix: " ";
}

@counter-style debug {
    system: numeric;
    fallback: fisheye;
}

.debug {
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: white
}

.debug details {
    padding-left: 1em;
}

.debug summary {
    cursor: pointer;
}