.maze {
    display: grid;
    grid-template-columns: var(--maze-cell-size) var(--maze-cell-size) var(--maze-cell-size);
    border: 1px dotted green;
    position: absolute;
}

.maze>.maze-cell {
    height: var(--maze-cell-size);
    width: var(--maze-cell-size);

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(50vh, var(--maze-cell-size));
    border: 1px solid orange;
    box-sizing: border-box;
}