#move-x.counter {
    --translate-x-step: -80vw;
    --translate-y-step: 0;

    --button-size: 50px;
}

#move-x>.increment-button,
#move-x>.decrement-button {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#move-x>.increment-button {
    background-color: teal;
    color: white;
}

#move-x>.decrement-button {
    background-color: darkred;
    color: white;
}