#move-y.counter {
    --button-size: 120px;

    --translate-x-step: 0;
    --translate-y-step: calc(-1 * var(--maze-cell-size));

    --decrement-button-x: calc(50% - 50vw + var(--button-size));
    --decrement-button-y: calc(50% - 50vh);

    --increment-button-x: calc(50vw + 50% - 2 * var(--button-size));
    --increment-button-y: calc(50vh + 50% - var(--button-size));
}

#move-y>.increment-button,
#move-y>.decrement-button {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
}