#move-x.counter {
    --button-size: 120px;

    --translate-x-step: calc(-1 * var(--maze-cell-size));
    --translate-y-step: 0;

    --decrement-button-x: calc(50% - 50vh);
    --decrement-button-y: calc(50% + 50vw - 2 * var(--button-size));

    --increment-button-x: calc(50vh + 50% - var(--button-size));
    --increment-button-y: calc(-50vw + 50% + var(--button-size));
}

#move-x>.increment-button,
#move-x>.decrement-button {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
}