.forward {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(54.31% calc(var(--is-not-border) * 0.09271003964609457) 194.76894793196388);
    color: white;
    height: var(--inner-button-size);
    width: var(--inner-button-size);
    margin: var(--button-margin);
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
    z-index: 100;
}

.forward-disabled.possible-wall-x {
    --is-wall-orientation-x: 1;
    --is-wall-orientation-y: 0;
    --wall-offset-x: calc(var(--offset-x));
    --wall-offset-y: calc(var(--offset-y) + var(--is-south));
    opacity: var(--is-y-direction);
}

.forward-disabled.possible-wall-y {
    --is-wall-orientation-x: 0;
    --is-wall-orientation-y: 1;
    --wall-offset-x: calc(var(--offset-x) + var(--is-east));
    --wall-offset-y: calc(var(--offset-y));
    opacity: var(--is-x-direction);
}

.forward-disabled::before
{
    visibility: visible;
    position: fixed;
    max-height: var(--inner-button-size);
    max-width: var(--inner-button-size);
    margin: var(--button-margin);
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
    font-size: calc(3 * var(--button-size));
    overflow: hidden;
    color: transparent;
    background-color: black;
    opacity: 0.5;
    counter-set: random-bit calc(var(--random-bit, 99));
    content: counter(random-bit, random-bits);
    z-index: 200;
}

.rotate-label {
    display: block;
    position: fixed;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--inner-button-size);
    width: var(--inner-button-size);
    margin: var(--button-margin);
    background-color: teal;
    color: white;
    pointer-events: none;
    z-index: 100;
}

.rotate-left {
    left: var(--button-rotate-left-x);
    top: var(--button-rotate-left-y);
}

.rotate-right {
    left: var(--button-rotate-right-x);
    top: var(--button-rotate-right-y);
}