@counter-style random-2-a {
    system: cyclic;
    symbols: '█' '' '' '█' '' '' '' '' '' '' '█' '' '' '' '█' '█' '█' '█' '' '█' '' '█' '' '' '' '█' '█' '' '' '' '' '' '' '' '█' '█' '█' '' '█' '' '█' '█' '' '█' '' '█' '' '█' '' '█' '█' '█' '' '' '█' '█' '' '█' '' '' '' '' '' '█' '█' '█' '' '' '' '█' '█' '' '' '█' '' '█' '█' '' '█' '█' '█' '' '' '' '█' '█' '█' '█' '█' '' '█' '█' '' '█' '█' '█' '█' '█' '█' '█';
}

@counter-style random-2-b {
    system: cyclic;
    symbols: '' '█' '█' '' '█' '█' '█' '█' '█' '█' '' '█' '█' '█' '' '' '' '' '█' '' '█' '' '█' '█' '█' '' '' '█' '█' '█' '█' '█' '█' '█' '' '' '' '█' '' '█' '' '' '█' '' '█' '' '█' '' '█' '' '' '' '█' '█' '' '' '█' '' '█' '█' '█' '█' '█' '' '' '' '█' '█' '█' '' '' '█' '█' '' '█' '' '' '█' '' '' '' '█' '█' '█' '' '' '' '' '' '█' '' '' '█' '' '' '' '' '' '' '';
}