

:root {
    /**
     * Fallback seeds for the linear random number generator (a*x + c)
     */
    --random-a: 5;
    --random-c: 16;
}

@counter-style random-bits {
    system: cyclic;
    /*
     * symbol columns
     * always exactly one of a..d is set to '█' for each number 2..4.
     */
    /*  2a  2b        3a 3b  3c       4a 4b  4c  4d */
    symbols:
        '█' ''        '' '' '█'        '' '' '█' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '' '█'        '█' '' ''        '' '' '' '█'
        '' '█'        '' '' '█'        '' '' '█' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '' '█'
        '' '█'        '█' '' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '' '█'        '' '' '█'        '' '' '' '█'
        '█' ''        '' '█' ''        '' '' '' '█'
        '█' ''        '' '█' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '' '' '█'
        '█' ''        '' '' '█'        '█' '' '' ''
        '' '█'        '' '█' ''        '' '' '' '█'
        '█' ''        '' '█' ''        '█' '' '' ''
        '' '█'        '' '█' ''        '' '█' '' ''
        '█' ''        '' '' '█'        '' '' '' '█'
        '' '█'        '' '█' ''        '█' '' '' ''
        '' '█'        '' '' '█'        '█' '' '' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '█' ''        '█' '' ''        '█' '' '' ''
        '█' ''        '' '█' ''        '' '' '█' ''
        '' '█'        '' '█' ''        '' '' '' '█'
        '' '█'        '█' '' ''        '█' '' '' ''
        '' '█'        '' '' '█'        '' '' '' '█'
        '' '█'        '' '█' ''        '' '' '' '█'
        '' '█'        '█' '' ''        '' '█' '' ''
        '' '█'        '' '' '█'        '' '' '' '█'
        '' '█'        '█' '' ''        '' '█' '' ''
        '█' ''        '█' '' ''        '█' '' '' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '' '█'        '' '█' ''        '' '' '' '█'
        '█' ''        '█' '' ''        '█' '' '' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '█' '' ''
        '█' ''        '' '' '█'        '' '' '█' ''
        '' '█'        '' '' '█'        '' '' '' '█'
        '█' ''        '' '█' ''        '' '█' '' ''
        '' '█'        '█' '' ''        '' '█' '' ''
        '█' ''        '' '' '█'        '█' '' '' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '' '█' ''        '' '' '█' ''
        '' '█'        '█' '' ''        '█' '' '' ''
        '█' ''        '' '' '█'        '' '█' '' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '█' ''        '' '█' ''        '' '' '' '█'
        '' '█'        '█' '' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '█' '' '' ''
        '█' ''        '█' '' ''        '█' '' '' ''
        '█' ''        '' '' '█'        '' '' '' '█'
        '' '█'        '' '' '█'        '' '' '' '█'
        '█' ''        '' '' '█'        '' '█' '' ''
        '' '█'        '█' '' ''        '' '' '' '█'
        '' '█'        '' '█' ''        '█' '' '' ''
        '' '█'        '' '█' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '' '█' ''        '' '' '' '█'
        '█' ''        '' '█' ''        '█' '' '' ''
        '█' ''        '█' '' ''        '' '' '' '█'
        '' '█'        '' '█' ''        '' '' '█' ''
        '' '█'        '' '█' ''        '' '' '█' ''
        '' '█'        '█' '' ''        '' '' '█' ''
        '█' ''        '' '' '█'        '█' '' '' ''
        '█' ''        '' '' '█'        '' '█' '' ''
        '' '█'        '' '█' ''        '' '█' '' ''
        '' '█'        '' '█' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '' '█' ''
        '' '█'        '█' '' ''        '' '' '' '█'
        '█' ''        '' '█' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '' '█' ''
        '' '█'        '' '' '█'        '' '█' '' ''
        '█' ''        '' '' '█'        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '█' ''        '' '█' ''        '' '' '' '█'
        '' '█'        '' '█' ''        '█' '' '' ''
        '' '█'        '' '█' ''        '' '' '' '█'
        '' '█'        '' '' '█'        '' '█' '' ''
        '█' ''        '' '█' ''        '' '' '' '█'
        '█' ''        '' '█' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '█' ''
        '█' ''        '█' '' ''        '' '' '' '█'
        '' '█'        '' '█' ''        '█' '' '' ''
        '█' ''        '█' '' ''        '' '' '' '█'
        '█' ''        '' '' '█'        '' '' '█' ''
        '' '█'        '' '█' ''        '' '' '█' ''
        '█' ''        '' '█' ''        '█' '' '' ''
        '█' ''        '' '█' ''        '█' '' '' ''
        '█' ''        '' '█' ''        '█' '' '' ''
        '█' ''        '█' '' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '█' '' ''
        '█' ''        '' '█' ''        '' '█' '' ''
        '█' ''        '' '' '█'        '█' '' '' ''

}





































































































