.rotate-90-vars {
    --rotate-90-angle: 0;
    --display-block-if-north: none;
    --display-block-if-east: none;
    --display-block-if-south: none;
    --display-block-if-west: none;

    --is-north: 0;
    --is-east: 0;
    --is-south: 0;
    --is-west: 0;

    --x-direction: calc(var(--is-east) - var(--is-west));
    --y-direction: calc(var(--is-south) - var(--is-north));
}


.rotate-90>input:nth-of-type(1):checked~.rotate-90-vars {
    --rotate-90-angle: 0;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-90>input:nth-of-type(2):checked~.rotate-90-vars {
    --rotate-90-angle: 90deg;
    --display-block-if-west: block;
    --is-west: 1;
}

.rotate-90>input:nth-of-type(3):checked~.rotate-90-vars {
    --rotate-90-angle: 180deg;
    --display-block-if-south: block;
    --is-south: 1;
}

.rotate-90>input:nth-of-type(4):checked~.rotate-90-vars {
    --rotate-90-angle: 270deg;
    --display-block-if-east: block;
    --is-east: 1;
}

.rotate-90>input:nth-of-type(1):active~input:nth-of-type(4):checked~.rotate-90-vars {
    --rotate-90-angle: -90deg;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-90>input:nth-of-type(1):checked~input:nth-of-type(4):active~.rotate-90-vars {
    --rotate-90-angle: 360deg;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-transition {
    transition: all 1s ease-out;
}


.rotate-90>input:nth-of-type(1):active~input:nth-of-type(4):checked~* .rotate-transition,
.rotate-90>input:nth-of-type(1):checked~input:nth-of-type(4):active~* .rotate-transition {
    transition: all 0s linear;
}

/**
 * DEBUG
 */

.debug-direction::before {
    counter-set: debug calc(var(--is-north) + 2 * var(--is-east) + 3 * var(--is-south) + 4 * var(--is-west));
    content: "direction: " counter(debug, symbols(fixed "North" "East" "South" "West"))
}