.rotate-90 .rotate-target {
    transition: all 1s ease-out;
    height: var(--maze-cell-size);
    width: var(--maze-cell-size);
    position: fixed;
    top: calc(50% - calc(var(--maze-cell-size) / 2));
    left: calc(50% - calc(var(--maze-cell-size) / 2));
}

.rotate-90-vars {
    --rotate-90-angle: 0;
    --display-block-if-north: none;
    --display-block-if-east: none;
    --display-block-if-south: none;
    --display-block-if-west: none;

    --is-north: 0;
    --is-east: 0;
    --is-south: 0;
    --is-west: 0;
}


.rotate-90>input:nth-of-type(1):checked~.rotate-90-vars {
    --rotate-90-angle: 0;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-90>input:nth-of-type(2):checked~.rotate-90-vars {
    --rotate-90-angle: 90deg;
    --display-block-if-west: block;
    --is-west: 1;
}

.rotate-90>input:nth-of-type(3):checked~.rotate-90-vars {
    --rotate-90-angle: 180deg;
    --display-block-if-south: block;
    --is-south: 1;
}

.rotate-90>input:nth-of-type(4):checked~.rotate-90-vars {
    --rotate-90-angle: 270deg;
    --display-block-if-east: block;
    --is-east: 1;
}

.rotate-90>input:nth-of-type(1):active~input:nth-of-type(4):checked~.rotate-90-vars {
    --rotate-90-angle: -90deg;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-90>input:nth-of-type(1):checked~input:nth-of-type(4):active~.rotate-90-vars {
    --rotate-90-angle: 360deg;
    --display-block-if-north: block;
    --is-north: 1;
}

.rotate-target {
    transform: rotate(var(--rotate-90-angle));
}

.rotate-90>input:nth-of-type(1):active~input:nth-of-type(4):checked~* .rotate-target,
.rotate-90>input:nth-of-type(1):active~input:nth-of-type(4):checked~* .rotate-target-negative,
.rotate-90>input:nth-of-type(1):checked~input:nth-of-type(4):active~* .rotate-target,
.rotate-90>input:nth-of-type(1):checked~input:nth-of-type(4):active~* .rotate-target-negative {
    transition: all 0s linear;
}