#rotate {
    height: 100%;
    --button-rotate-right-x: calc(50% - calc(var(--button-size) * 1.5));
    --button-rotate-right-y: calc(50% - calc(var(--button-size) / 2));

    --button-rotate-left-x: calc(var(--button-rotate-right-x) + calc(var(--button-size) * 2));
    --button-rotate-left-y: var(--button-rotate-right-y);
}

#rotate>input {
    z-index: 10;

    position: fixed;
    margin: 0;
    padding: 0;
    height: var(--button-size);
    width: var(--button-size);
}

#rotate>label {
    display: block;
    position: fixed;
    height: var(--button-size);
    width: var(--button-size);
    cursor: pointer;
    z-index: 5;
}

#rotate>label {
    left: var(--button-rotate-right-x);
    top: var(--button-rotate-right-y);
}

#rotate>input {
    cursor: pointer;
    left: var(--button-rotate-left-x);
    top: var(--button-rotate-left-y);
    opacity: 0;
}

#rotate>input:nth-of-type(1) {
    z-index: 10;
}

#rotate>input:nth-of-type(2) {
    z-index: 20;
}

#rotate>input:nth-of-type(3) {
    z-index: 30;
}

#rotate>input:nth-of-type(4) {
    z-index: 40;
}

#rotate>input:checked {
    display: none;
}

#rotate>input:checked+input {
    z-index: 50;
}

#rotate>input:nth-of-type(1):checked~input:nth-of-type(4) {
    left: var(--button-rotate-left-x);
    top: var(--button-rotate-left-y);
    z-index: 50;
}

#rotate>input:checked~input {
    left: var(--button-rotate-right-x);
    top: var(--button-rotate-right-y);
}