:root {
    --maze-cell-size: min(60vh, 60vw);

    --button-size: 120px;
}

.forward {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    height: var(--button-size);
    width: var(--button-size);
    left: var(--button-size);
    top: 0;
    z-index: 100;
}