:root {
    --maze-cell-size: min(10vh, 10vw);

    --button-size: var(--maze-cell-size);
    --button-margin: 5px;
    --inner-button-size: calc(var(--button-size) - 2 * var(--button-margin));
}

.forward {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    height: var(--inner-button-size);
    width: var(--inner-button-size);
    margin: var(--button-margin);
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
    z-index: 100;
}