:root {
    --maze-cell-size: min(10vh, 10vw);

    --button-size: var(--maze-cell-size);
    --button-margin: 5px;
    --inner-button-size: calc(var(--button-size) - 2 * var(--button-margin));
    --maze-size: 5;
    /* set this to floor(var(--maze-size)) -> read the last bit of --maze-size to see if it is even or odd */
    --center-wall-offset: 2;
}

.init-vars {
    --max-offset: calc(var(--maze-size) - 1);
    --is-north-border: calc((-1 * min(var(--offset-y), 1) + 1) * var(--is-north));
    --is-west-border: calc((-1 * min(var(--offset-x), 1) + 1) * var(--is-west));
    --is-east-border: calc(max(0, min(1, calc(var(--offset-x) - var(--max-offset) + 1))) * var(--is-east));
    --is-south-border: calc(max(0, min(1, calc(var(--offset-y) - var(--max-offset) + 1))) * var(--is-south));
    --is-any-border: calc(var(--is-north-border) + var(--is-west-border) + var(--is-east-border) + var(--is-south-border));
    --is-not-border: calc(-1 * var(--is-any-border) + 1);

    --maze-width: calc(var(--maze-cell-size) * var(--maze-size));
    --maze-height: calc(var(--maze-cell-size) * var(--maze-size));
}

.forward {
    display: block;
    position: fixed;
    pointer-events: none;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(54.31% calc(var(--is-not-border) * 0.09271003964609457) 194.76894793196388);
    color: white;
    height: var(--inner-button-size);
    width: var(--inner-button-size);
    margin: var(--button-margin);
    left: calc(50% - var(--button-size) / 2);
    top: calc(50% - var(--button-size) * 1.5);
    z-index: 100;
}

.rotate-label {
    display: block;
    position: fixed;
    font-size: calc(0.7 * var(--button-size));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--inner-button-size);
    width: var(--inner-button-size);
    margin: var(--button-margin);
    background-color: teal;
    color: white;
    pointer-events: none;
    z-index: 100;
}

.rotate-left {
    left: var(--button-rotate-left-x);
    top: var(--button-rotate-left-y);
}

.rotate-right {
    left: var(--button-rotate-right-x);
    top: var(--button-rotate-right-y);
}