.counter {
  border: 1px dotted blue;
  width: 100px;
  padding: 5px;
}

.counter input {
  display: block;
  margin-left: 50px;
}

.counter input,
.counter input:checked~input:checked,
.counter input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input {
  margin-left: 50px;
}

.counter input:checked,
.counter input:checked~input,
.counter input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input,
.counter input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked {
  margin-left: 0px;
}