h1,
h2 {
  font-family: Lato;
}

.counter {
  border: 1px dotted blue;
  text-align: right;
  width: 100px;
}

.counter::before {
  content: "";
  counter-set: bookkeeping -1;
}

.bookkeeping::before {
  content: counter(bookkeeping, symbols(cyclic "" "mmmmmmmmmmmm"));
  max-width: 50px;
  overflow: hidden;
  display: inline-block;
  opacity: 0
}

.bookkeeping {
  display: inline-block;
}

input:checked + .bookkeeping {
  counter-increment: bookkeeping;
}


label {
  border: 1px solid green;
}

