
.wall-exit-west {
    --wall-width: calc(1.5 * var(--maze-cell-size));
    --wall-offset-x: calc(var(--maze-size) - 2.5);
    --wall-offset-y: var(--maze-size);
    --is-wall-orientation-x: 0;
    --is-wall-orientation-y: 1;
}

.wall-exit-east {
    --wall-width: calc(1.5 * var(--maze-cell-size));
    --wall-offset-x: calc(var(--maze-size) - 0.5);
    --wall-offset-y: var(--maze-size);
    --is-wall-orientation-x: 0;
    --is-wall-orientation-y: 1;
}

.wall-exit-south {
    --wall-width: calc(2 * var(--maze-cell-size));
    --wall-offset-x: calc(var(--maze-size) - 2.5);
    --wall-offset-y: calc(var(--maze-size) + 1.5);
    --is-wall-orientation-x: 1;
    --is-wall-orientation-y: 0;
}

.trophy.wall {
    --wall-width: var(--maze-cell-size);
    --is-wall-orientation-x: 1;
    --is-wall-orientation-y: 0;
    --wall-offset-x: calc(var(--maze-size) - 2);
    --wall-offset-y: calc(var(--maze-size) + 1.4);
    display: block;
    background-color: transparent;
    font-size: var(--maze-cell-size);
    cursor: pointer;
}