---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>CSS is Amazing</title>
	</head>
	<body>
		<h1>CSS is Amazing</h1>
		<img src="/css-is-amazing.svg" alt="CSS IS AMAZING" title="" />
	</body>
</html>
